body {
  font-family: Poppins !important;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

$primary: #008080;

$theme-colors: (
  primary: $primary,
);

.movie-poster {
  width: 100%;
  height: undefined;
  aspect-ratio: 27 / 40;
  overflow: hidden;
}

.card-title {
  text-overflow: ellipsis;
  overflow: scroll;
  height: 4rem !important;
}

.card-text {
  text-overflow: ellipsis;
  overflow: scroll;
  height: 15rem;
}

.button {
  height: 1.5rem;
}
